* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1170px; 
  margin: 0 auto;

/* this changes image colour */
.header-placeholder {
  background: linear-gradient(135deg, #e5e5e5 0%, #f5f5f5 100%);
   margin-top: 0rem;
   margin-bottom: 0rem;
  overflow: hidden;
}

.header-placeholder img {
  width: 100%;
  height: auto;
  display: block;
}

.container {
  width: 1170px; 
  margin: 0 auto;

/* this changes image colour */
.home.content {
   background: linear-gradient(135deg, #e5e5e5 0%, #f5f5f5 100%);
   margin-top: 0rem;
   margin-bottom: 0rem;
  overflow: hidden;
}
}

.home.content img {
 width: 100%;
  height: auto%;
  object-fit: cover;
  display: block;
}


.footer-placeholder {
   background: linear-gradient(135deg, #e5e5e5 0%, #f5f5f5 100%);
   margin-top: 0rem;
   margin-bottom: 0rem;
  overflow: hidden;
}
}

.footer-placeholder img {
  width: 100%;
  height: auto;
  display: block;
}
