* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.container {
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
}

/* HEADER */
.header-placeholder {
  overflow: hidden;
}

.header-placeholder img {
  width: 100%;
  height: auto;
  display: block;
}

/* HOME */
.home.content {
  overflow: hidden;
}

.home.content img {
  width: 100%;
  height: auto;
  display: block;
}

/* FOOTER */
.footer-placeholder {
  overflow: hidden;
}

.footer-placeholder img {
  width: 100%;
  height: auto;
  display: block;
}
